{
  "extends": [
    "react-app",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "singleQuote": true,
        "printWidth": 140,
        "endOfLine": "auto"
      }
    ]
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "@babel/eslint-parser"
}